<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711830785996-tngrimni48ipl4uf89g5gjjqqo8nj361.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711830785996-tngrimni48ipl4uf89g5gjjqqo8nj361</string>
	<key>API_KEY</key>
	<string>AIzaSyBwLmuEUO1Wt2cKaP3pHWr7THMWlp7YsS0</string>
	<key>GCM_SENDER_ID</key>
	<string>711830785996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jesusgrimaldo.precticaCoppelMo</string>
	<key>PROJECT_ID</key>
	<string>coppelmoviesuikit</string>
	<key>STORAGE_BUCKET</key>
	<string>coppelmoviesuikit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711830785996:ios:6bd8ac2a82cec7bfe05769</string>
</dict>
</plist>